.center {
    text-align: center;
}

.row-item {
    margin-top: 10px;
    margin-bottom: 20px;
}

.option-link {
    text-decoration: none;
}

.option-link.side-by-side {
    margin: 50px;
}

.option-button {
    cursor: pointer;

    background-color: #0e79ca;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    border-radius: 5px;
    font-size: 14px;

    width: max-content;
}

.option-button:hover {
    background-color: #0e79ca;
}

.option-button.disabled {
    cursor: default;

    background-color: #080052;
    color: grey;
}

.inline {
    display: inline-block;
}

.option-text-box {
    width: 300px;
    font-size: 13px;

    margin: 10px
}

.smaller {
    font-size: 12px;
    text-align: center;
}

.no-margin {
    padding: 0;
    margin: 0;
}

.free-access-modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 100;
}

.free-access-modal-content {
    background-color: rgb(26, 26, 26, 0.95);
    border-radius: 15px;

    font-size: 15px;

    max-width: 400px;
    padding: 20px;
}

.hidden {
    display: none;
}

.small-width {
    width: 400px;
}

.flex-center {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.no-top-margin {
    margin-top: 0;
}